*{
    margin: 0;
    padding: 0;
}

img{
    height: 49px;
}
.header_left{
  
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 70px;
}


.ul{
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    color:#3D4152;
    font-weight: bold;
} 
.ul li:hover{
    color: #FFAE13;
}

.main_header{
height: 90px;
    background-color: #FFFFFF;
    /* height: 100%; */
    display: flex;
    /* width: 100%; */
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
    
}

.location{
    margin-left: 40px;
    color: #5B5F6D;
}
.underline{
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
    
}


.ul li{
    padding: 45px;
}
.underline:hover{
    color: #FFAE13;
}
sup{
    color: #FFAE13;
    margin: 5px;
    font-size: 11px;
}