.content{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    
}
.header{
    width: 100%;
    height: 250px;
    background-color: #171a29;
    margin: 0px -20px;
    padding: 0px 20px;
    display: flex;
    /* grid-template-columns: auto auto auto; */
    box-sizing: border-box;
}
.img{
    /* background-color: red; */
    width: 250px;
    height: 100%;
    margin-right: auto;
    margin-left: 40px;
    padding: 30px 0px;
    box-sizing: border-box;
}
img{
    /* background-color: purple; */
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.details{
    /* background-color: yellow; */
    height: 100%;
    box-sizing: border-box;
    width: 450px;
    padding-top:30px;
}
.offer{
    /* background-color: blue; */
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    margin-left: auto;
    margin-right: 40px;
    align-items: center;
    padding:50px 0px;
    color:#fff;
    position: relative;
}
.miss{
    display: grid;
    /* grid-column: auto; */
    grid-template-columns: auto auto auto;
    /* justify-content: space-between; */
    font-size: 12px;
    align-items: center;
    /* box-sizing: border-box; */
}
.offer_h{
    position: absolute;
    top: 40px;
    left: -6px;
    position:"relative";
    font-size:20px;
    font-weight:bolder;
    /* color: aqua; */
    background-color: #171a29;
}
.middle{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}
.dishes{
    padding: 30px 55px 100px;
    background-color: red;
    overflow-y: auto;
    /* height: 13234px; */
}


















